body {
	background-color: #47A1E5;
	display: flex;
	flex-direction: column;
	align-items: center;
}

img {
	width: 150px;
}

#search-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 15%;
}

h1 {
	font-size: 28px;
	color: #002A46;
	font-family: "Arial", sans-serif;
	white-space: nowrap;
	overflow: hidden;
	margin-bottom: 40px;
}


h3 {
	margin-bottom: 10px;	
	font-size: 16px;
	color: #002A46;
	font-family: "Arial", sans-serif;
}

h4 {
	margin-bottom: 10px;	
	font-size: 13px;
	color: #002A46;
	font-family: "Arial", sans-serif;
}

#search-form1 {
	white-space: nowrap;
}

#search-form2 {
	white-space: nowrap;
	overflow: hidden;
}

#submit-button1:hover {
	background-color: #6D959E;	
}

#submit-button2:hover {
	background-color: #6D959E;	
}

#prompt1 {
	font-size: 17px;
	font-family: "Arial", sans-serif;
	color: #002A46;
	white-space: nowrap;
	overflow: hidden;
}

#prompt2 {
	font-size: 13px;
	font-family: "Arial", sans-serif;
	color: #002A46;
	white-space: nowrap;
	overflow: hidden;
	margin-bottom: 2px;
}
	
#location1 {
	color: #002A46;
	background-color: #C2DDEF;
	font-size: 18px;
	font-family: "Arial", sans-serif;
	width: 600px;
	height: 40px;
	border: 2px solid #5C839B;
	border-radius: 15px;
}

#location1:focus {
	outline: none;
	background: rgb(177, 189, 197);
	border: 2px solid rgb(54, 65, 71);
}


#location2 {
	color: #002A46;
	background-color: #C2DDEF;
	font-size: 13px;
	font-family: "Arial", sans-serif;
	width: 125px;
	height: 20px;
	border: 2px solid #5C839B;
	border-radius: 15px;
}

#location2:focus {
	border-color: #004B70;
	border-radius: 15px;	
}

#submit-button1 {	
	font-size: 17px;
	font-family: "Arial", sans-serif, bold;
	background-color: #6AE0FF;
	width: 120px;
	height: 40px;
	border: 1px solid black;
	border-radius: 17px;
}

#submit-button2 {	
	margin-left: -2.5px;
	font-size: 12px;
	font-family: "Arial", sans-serif, bold;
	background-color: #6AE0FF;
	width: 50px;
	height: 24px;
	border: 1px solid black;
	border-radius: 15px;
}

#back-button {
	margin-top: 10px;
	margin-left: 10px;
}

#results2_wrapper {
	z-index: 2;
}

.col-sm-12 {
	margin-top: -300px;
}

.col-sm-12 > table > thead {
	background-color: white;
}

.vr {
    width:10px;
    background-color: #002A46;
}